<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohechina.iotsystem.dao.PollingRouteDao">
    
	<select id="getPollingRoute" resultType="PollingRoute">
		select * from pollingRoute
	</select>
    
    <select id="getCount" resultType="int">
    	select count(*) from pollingRoute
    </select>
    
    <update id="updatePollingRoute" parameterType="PollingRoute">
    	update pollingRoute set routeImg=#{routeImg}
    </update>
    
    <insert id="insertPollingRoute" parameterType="PollingRoute">
    	insert pollingRoute(routeImg) values(#{routeImg})
    </insert>
    
</mapper>