<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohechina.iotsystem.dao.ProjectInfoDao">
	
	
	<select id="getProjectInfo" resultType="ProjectInfo">
		select * from projectInfo
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from ProjectInfo
	</select>
	
	<insert id="addProjectInfo" parameterType="ProjectInfo">
		insert into projectInfo(title,text,createtime,lastupdatetime)
		values (#{title},#{text},#{createTime},#{lastUpdateTime})
	</insert>
	
	<update id="updateProjectInfo" parameterType="ProjectInfo">
		update projectInfo set title=#{title},text=#{text},lastUpdateTime=#{lastUpdateTime}
		where id=#{id}
	</update>
</mapper>
