<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohechina.iotsystem.dao.DemoDao">
    
  	<select id="getDemoList" resultType="Demo" parameterType="String">
  		select * from demo
  		where subject=#{subject}
  	</select>
  	
  	<select id="getDemoById" resultType="Demo" parameterType="int">
  		select * from demo
  		where id=#{id}
  	</select>
  	
  	<update id="updateDemo" parameterType="Demo">
  		update demo set subject=#{subject},name=#{name},flowText=#{flowText},flow=#{flow},intro=#{intro},vrp=#{vrp}
  		where id=#{id}
  	</update>
  	
  	
  	<insert id="addDemo" parameterType="Demo">
  		insert demo(subject,name,flowText,flow,intro,vrp)
  		values(#{subject},#{name},#{flowText},#{flow},#{intro},#{vrp})
  	</insert>
  	
  	<delete id="deleteDemo" parameterType="map">
  		delete from demo
  		where id in
  		<foreach collection="ids" item="item" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  	</delete>
    
</mapper>